@import url("https://fonts.googleapis.com/css?family=Mr+Dafoe");

body {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #3f4850;
  background: url("https://treehouseproject.s3.amazonaws.com/Unit+7+Project/12-124273_vaporwave-wallpaper-twitter-pink.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h2 {
  font-size: 2em;
  margin: 52px 0 40px;
  text-transform: capitalize;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.search-form {
  max-width: 460px;
  display: flex;
  margin: 0 auto 32px;
}

.search-form button {
  outline: none;
  background-color: #01cdfe;
  border: none;
  padding: 0px 15px;
  border-radius: 0 0.35em 0.35em 0;
  cursor: pointer;
}

input {
  font-size: 1em;
  width: 100%;
  background-color: #fffb96;
  padding: 10px 15px;
  border: 3px solid #01cdfe;
  border-right: none;
  border-radius: 0.35em 0 0 0.35em;
  outline: none;
}

.main-nav li {
  width: 100%;
  margin-bottom: 1em;
}

.main-nav a {
  display: block;
  background: #01cdfe;
  border-radius: 3px;
  padding: 5px;
  color: #fff;
}

.main-nav .active,
.main-nav a:hover,
.search-form button:hover {
  background-color: #b967ff;
}

.photo-container ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  -ms-align-items: flex-start;
  align-items: flex-start;
}

.photo-container ul li {
  width: 220px;
  height: 165px;
  overflow: hidden;
  margin-bottom: 15px;
  box-shadow: 0px 11px 16px 1px rgba(0, 0, 0, 0.75);
}

.photo-container ul img {
  width: 100%;
  height: 100%;
  transform: scale(1.25);
  transition: transform 1.25s;
}

.photo-container li:hover img {
  transform: scale(1.65);
}

.photo-container .not-found {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  body {
    padding-top: 2em;
  }

  .photo-container li {
    margin: auto;
  }
}

@media only screen and (min-width: 768px) {
  body {
    padding-top: 4em;
  }

  .container {
    max-width: 960px;
    margin: auto;
  }

  .main-nav ul {
    display: flex;
    justify-content: center;
  }

  .main-nav li {
    margin: 10px;
  }
}

/* Loader */

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.svg {
  position: relative;
  width: 150px;
  height: 150px;
  animation: rotate 2s linear infinite;
}

.svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 10;
  stroke: #01cdfe;
  stroke-linecap: round;
  transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0%,
  100% {
    stroke-dashoffset: 440;
  }

  50% {
    stroke-dashoffset: 0;
  }

  50.1% {
    stroke-dashoffset: 880;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Letter font */
/* Source: https://codepen.io/boldfacedesign/pen/EoGgD */
.future {
  font-family: "Mr Dafoe", cursive;
  font-size: 70px;

  color: #eb219b;
  -webkit-text-fill-color: #b967ff;
  text-shadow: -2px -2px 0 #ffbaf2;
  -webkit-filter: drop-shadow(3px 3px 1px #441f62);
  -webkit-transform: skew(-10deg, -10deg);
  font-weight: normal;
}

li a {
  font-family: "Mr Dafoe", cursive;
  font-size: 24px;
}

/* Glow effect */
/* Source: https://codepen.io/FelixRilling/pen/qzfoc */
.glow:hover {
  -webkit-animation: neon6 1.5s ease-in-out infinite alternate;
  -moz-animation: neon6 1.5s ease-in-out infinite alternate;
  animation: neon6 1.5s ease-in-out infinite alternate;
}

@keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de,
      0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }

  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de,
      0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}

/* Modal window for the images */
.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}

.modal {
  position: relative;
  width: 95%;
  max-width: 420px;
  min-height: 415px;
  margin: 10px auto auto;
  padding-bottom: 15px;
  background: #e2f3f5;
  border-radius: 0.25em;
  border: 1px solid rgba(100, 100, 100, 0.3);
  transition: 0.4s ease-out;
}

.modal-close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.9);
  background: #0e153a;
  outline: none;
  border-radius: 0.25em;
  border: 1px solid rgba(50, 50, 50, 0.3);
}

.modal-img {
  width: 150px;
  margin-top: 35px;
  border-radius: 50%;
}
